<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="BioMET 2018 will be an attempt to bring in leading scientists of various fields, clinicians and delegates from healthcare industry together on a single platform." />
  <meta name="keywords" content="VIT,BIOMET 2018,CBCMT,Vellore,conference,vit university,Harshit kedia,Saurav VIT,Saurav Bhagat, ACM">
  <meta name="author" content="Saurav Kumar Bhagat">
	<title>{% if page.title %}{{page.title}} {% endif %}</title>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<meta property="og:type" content="website" />
	<meta property="og:site_name" content="BIOMET 2018" />
	<meta property="og:url" content="https://vit.ac.in/biomet2018" />
	<meta property="og:title" content="BIOMET-2018" />
	<meta property="og:description" content="BioMET 2018 will be an attempt to bring in leading scientists of various fields, clinicians and delegates from healthcare industry together on a single platform." />
	<meta property="og:image" content="https://saurav-bhagat.github.io/biomet/img/biomet_logo.png" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/common.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
	<style type="text/css">
	.current
	{
		background-color: skyblue;
	}
	.well{
		margin-bottom: 0;
	}
	@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
.sidebar-nav{
	margin: 0;
}
.logobio{
	height:170px;
	padding: 6px;
	width: auto;
}
@media (max-width: 500px) {
	.logobio{
		height: 160px;

	}
}
#myname{
	color: rgb(199, 21, 133);
}


</style>

</head>





<body>
	<div class="common-header-row">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-md-2">
					<a href="/biomet/"><img src="img/logo_last.png" class="img img-responsive logobio" ></a>
				</div>
				<div class="event-details-div col-xs-8 col-md-4">
					<h3 class="white-text"><span class="international-small">International conference on</span><br /><span class="bio-color">BioM</span>aterials<br /> <span class="bio-color">BioE</span>ngineering<br /><span class="bio-color">BioT</span>heronostics</h3>
					<div class="white-text">
						<i class="fa fa-calendar" aria-hidden="true"></i> 24<sup>th</sup>-28<sup>th</sup> July, 2018 | <i class="fa fa-map-marker" aria-hidden="true"></i> VIT University, Vellore
					</div>
				</div>
					<div class="col-xs-6 col-md-3" style="padding:0px;height100%;">
						<div class="common-header-bg-1">
							&nbsp;
						</div>
					</div>
					<div class="col-xs-6 col-md-3" style="padding:0px;height:100%;">
						<div class="common-header-bg-2">
							&nbsp;
						</div>
					</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-10">

					<div class="sidebar-nav">
        					<div class="navbar navbar-default" role="navigation">
            					<div class="navbar-header">
                					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                    					<span class="sr-only">Toggle navigation</span>
                    					<span class="icon-bar"></span>
                    					<span class="icon-bar"></span>
                    					<span class="icon-bar"></span>
                					</button>
                					<a class="navbar-brand visible-xs" href="#">More</a>
                					<!--<span class="visible-xs navbar-brand">Sidebar menu</span>-->
            					</div>
            					<div class="navbar-collapse collapse sidebar-navbar-collapse">
                					<ul class="nav navbar-nav">
                    					<a href="inde.html" class="sidelink"><li class="side">Welcome</li></a>
                    					<a href="about.html" class="sidelink"><li class="side">About</li></a>
                    					<a href="conferencetheme.html" class="sidelink"><li class="side">Conference Themes</li></a>
                    					<a href="dates.html" class="sidelink"><li class="side">Important Dates</li></a>
                    					<a href="advisors.html" class="sidelink"><li class="side">Advisors</li></a>
                    					<a href="speakers.html" class="sidelink"><li class="side">Speakers</li></a>
                    					<a href="contact.html" class="sidelink"><li class="side">Contact us</li></a>
                					</ul>
            					</div>
        					</div>
    					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-9">
			{{content}}
		</div>
	</div>




	<br><br>
	<div class="well row" style="margin-bottom:0px;font-weight:bold;">
		<div class="col-xs-12 col-sm-3 text-center">
			<img  src="img/biomet_logo.png">
		</div>
		<div class="col-sm-6 col-xs-12">
			<p class="text-center">International conference on BioMaterials, BioEngineering, and BioTheronostics<br>
				Organized by <br>Center for Biomaterials, Cellular and Molecular Theronostics,<br> VIT University, Vellore - 632 014.	<br>
				In association with:<br> <ul class="list-unstyled text-center"><li><b>Society for Biomaterials and Artifical Organs (India)</b></li><li><b>Society for Tissue Engineering and Regenerative Medicine (India)</b></li></p>
				<ul class="list-unstyled list-inline text-center">
					<li><a href="contact.html" class="footer-link">Contacts</a></li>|
					<li><a href="dates.html" class="footer-link">Important Dates</a></li>|
					<li><a href="about.html" class="footer-link">About</a></li>|
					<li><a href="index.html" class="footer-link">Home</a></li>
				</ul>
			</div>
				<div class="col-sm-3 col-xs-12 text-center"><br><br><br>
					<div class="logoandname">
						<a href="http://acmvit.in" ><img src="img/acm.png" height="100px" width="180px"></a>
						<p style="font-size: 13px;"><span>Developed by: <a href="https://github.com/saurav-bhagat" id="myname">saurav kumar bhagat</a> </p>
					</div>
				</div>

	</div>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#clickk').click(function() {
				console.log(window.location.href);
			});
		});
	</script>

</body>
</html>
